{% extends "base.html" %}

{% block title %}Eliminar Proyecto{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h3>Eliminar Proyecto</h3>
            </div>
            <div class="card-body">
                <p>¿Estás seguro de que deseas eliminar el proyecto "{{ project.name }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'project_list' %}" class="btn btn-secondary me-2">Cancelar</a>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}